.control-section {
  padding-left: 20px;
  padding-right: 20px;
}

.btnAddDiagCode {
  padding-left: 04px;
  margin-left: 20px;
}


.search-box-code-id {
  height: 32px;
  padding: 0.375rem 0.75rem;
  font-size: 12;
  font-weight: 500;
  background-clip: padding-box;
  border: 1px solid lightblue;
  padding-right: 0px;
  border-radius: 4px;
  //border-color: forestgreen;
}
